<p style="color: green"><%= notice %></p>

<h3 class="text-center">Add New Motorcycle</h3>

<%= render "form", motorcycle: @motorcycle %>

<br>

<div class="mx-4">
  <%= link_to "Back to motorcycles", motorcycles_path %>
</div>